name: "generate"

on: [push]

jobs:
  test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3

      - name: Generate project and run tests
        run: |
          brew install cookiecutter
          cookiecutter --no-input -f .
          mise install
          swift test